* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* removed a line which held no purpose. */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Renamed class to "benefit-section" to better describe it's purpose & appearance */
.benefit-section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Renamed and consolidated content into the "benefit-section-content" class */
.benefit-section-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-section-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-section-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Renamed class to "blue-box" to better describe its appearance */
.blue-box {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Renamed and consolidated content into the "blue-box-content" class */
.blue-box-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.blue-box-content img {
    max-height: 200px;
}

.blue-box-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Removed Footer */